<div class="header">
  <div class="header__left">
    <span class="header__left__text">{{ currentMode }}</span>
  </div>
  <div class="header__right">
    <div class="header__right__search">
      <input
        [formControl]="inputForm"
        type="text"
        class="header__right__search__input"
      />
      <img
        src="./assets/images/search-icon.svg"
        class="header__right__search__icon"
        alt="Search"
      />
    </div>
    <div class="header__right__logo">
      <a href="/">
        <img src="./assets/images/title.png" alt="title" />
      </a>
    </div>
  </div>
</div>
