<div class="header">
  <div class="header__left">
    <img
      class="header__left__icon"
      src="./assets/images/trending.svg"
      alt="trending"
    />
    <span class="header__left__text">Trending</span>
  </div>
  <div class="header__right">
    <div class="header__right__search">
      <input type="text" class="header__right__search__input" />
      <img
        src="./assets/images/search-icon.svg"
        class="header__right__search__icon"
        alt="Search"
      />
    </div>
    <div class="header__right__logo">
      <a href="/">
        <img src="./assets/images/title.png" alt="title" />
      </a>
    </div>
  </div>
</div>
