:host {
  display: block;
  box-shadow: 0 2px 8px #00000029;
}

.header {
  height: 56px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  gap: 16px;

  &__left {
    display: flex;
    gap: 16px;
    align-items: center;
    &__text {
      font-size: 20px;
      font-weight: 500;
      color: #000000;
    }
  }

  &__right {
    display: flex;
    gap: 32px;
    align-items: center;
    &__search {
      $duration: 0.3s;
      position: relative;

      &__input {
        transition: all $duration;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background: rgb(235, 235, 235);

        width: 40px;
        height: 40px;
        opacity: 0;

        &:hover {
          color: white;
          background: rgb(200, 200, 200);
        }

        &:focus {
          transition: all $duration cubic-bezier(0, 1.22, 0.66, 1.39);
          border: none;
          outline: none;
          box-shadow: none;
          padding-left: 20px;
          cursor: text;
          width: 300px;
          border-radius: auto;
          background: rgb(235, 235, 235);
          color: black;
          padding-right: 40px;
          opacity: 1;
        }
      }

      &__icon {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        pointer-events: none;
      }
    }
    &__logo {
      height: 32px;
      a {
        display: flex;
        align-items: center;
        height: 32px;
      }
    }
  }
}
