/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  // Support customized scrollbar on Webkit & Blink
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  // Support customized scrollbar on Firefox
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
